<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627923651706-vhtgosvcp70r5onkf54jufd2rs9oimnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627923651706-vhtgosvcp70r5onkf54jufd2rs9oimnn</string>
	<key>API_KEY</key>
	<string>AIzaSyCalaeIraGygxrvta7Dc-8xkLLY_Sz6zsw</string>
	<key>GCM_SENDER_ID</key>
	<string>627923651706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>li.xipu.mealq</string>
	<key>PROJECT_ID</key>
	<string>meal-app-87fbc</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-app-87fbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627923651706:ios:c663ebb8bf9f2f239bbfc3</string>
</dict>
</plist>